body{
    background-image: url("../images/rivendell.jpg");
    background-position: center; 
}

.box{
    background-color: rgba(222, 184, 135, 0.432);
    padding: 2em;
    text-align: center;
    color: rgb(2, 2, 53);
    margin:1em;

}
.btn {
    padding: .5em 1em;  
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.actualQs {
    font-size:1.5em;
}
.questionDiv {
    color: rgb(2, 2, 53);
    font-weight: bold;  
    font-size: 1.2em; 
}