body{
    background-image: url("../images/rivendell2.jpg");
    
}

.box{
    background-color: rgba(222, 184, 135, 0.432);
    padding: 2em;
    text-align: center;
    color: whitesmoke;
    margin:1em;

}
.btn {
    padding: .5em 1em;  
    font-size: 2em;
    font-weight: bold;
    
}
.submitBtn{
    align-items: center;
}
.actualQs {
    font-size:1.5em;
}
.questionDiv {
    color: rgb(2, 2, 53);
    font-weight: bold;  
    font-size: 1.2em; 
}