

/* Header Settings */

.h {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
}
/* Main Logo */
h1 {
    background: #4aaaa5;
    color: #ffffff;
    width: 29%;
    padding: 1em;
    margin-top: -0em;
    font-size: 2em; 
}

h2 {
    color: #4aaaa5;
    font-size: 2em;
}
/* End of Header Settings*/

/* Navigation Settings */
/* Top white bar */
.topnav {
    background: #ffffff;
    width: 100%;
    border-bottom: inset #cccccc;
    margin-bottom: 1em;   
}

/* About/Portfolio/Contact settings */
.navbar {
    text-align: center;
    float: right;
    margin-top: -6.5em;
    margin-bottom: 2em;
    padding: 3em;
        
}

/* Content Width */
.navcontent {
    width:90%;
    margin: auto;
}

.navbuttons {
    text-decoration: none;
    color: #666666;
    padding: 1em;
}

.navbuttons:hover {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 2em 1em;
}

.navbuttons:active {
    color: #ffffff;
    background-color: #4fd8d1;
}
/* End of Navigation Settings */

/* Body Settings */
body{
    background-image: url("../images/knitting250px_@2X.png");
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

section {
    clear: both;
    overflow: auto;
    width: 90%;
    background-color: #ffffff;
    padding: 1em;
    margin-bottom: 1em;
    margin: auto;  
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #cccccc;
}

.buttons {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.buttons:hover {
    background-color: #4fd8d1;
}
/* End of Body Settings */

/* About Nicole Settings */

#img1 {
    width: 150px;
    height: 150px;
    float: left;
    margin-right:1em;
}
/* End of About Nicole Settings */

/* Contact Settings */
.area1 {
    width: 90%;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 1em 1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;    
    font-size: 16px;
    resize: none;
}
#submit {
    padding: 12px 30px;
    font-size: 14px;
    margin: 4px 2px;
}
/* End of Contact Settings */

/* Portfolio Settings */
.images {
    z-index: -200;
    margin: 1em 2em 1em 0em; 
}

/* Making the buttons lay over the images */
.imagebutton {
    z-index: 200;
    width: 260px;
    height: 40px;
    font-size: 16px;
    position: absolute; 
    bottom: 2em;
    right: 2em;  
}

.imagecontent {
    display: inline-block;
    position: relative;
}

/* Makining the images go into columns */
.col1, .col2 {
    display:flex;
    flex-wrap: wrap;
}
/* End of Portfolio Settings */

/* Footer Settings */
footer {
    height: 30px;
    background-color: #666666;
    width: 100%;
    border-top: #4aaaa5 solid 5px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    bottom: 0;
    margin-top: 20px;
}

.ftr {
    position: absolute;
}
/* End of Footer Settings */

/* Responsive CSS */
@media screen and (max-width: 980px) {

 
}
@media screen and (max-width: 768px) {

   
}

@media screen and (max-width: 640px) {

    .topnav{
        position: static;
    }

   
}