body {
    background-image: url(../images/script2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(238, 206, 25);
}

button {
    margin:1em;
}

.gifDiv {
    display: inline-block; /*for some reson inline block never actually works for me and I do not know why*/
    margin:5px;
    vertical-align: top;

}

.jumbotron {
  background-color: rgba(5, 5, 78, 0.568);

}