body {
    background-image: url("../images/dark-triangles.png");
}

.container {
    margin: auto;
}

h1 {
    font-family: 'New Rocker', cursive;
    color: aqua;
    font-size: 3em;
    text-align: center;
}