body {
    text-align: center;
    color:rgb(61, 144, 211);
    background-image: url("../images/Minas_Tirith.jpg");
}
.jumbotron {
    background-color: rgba(240, 248, 255, 0.575);
    color:rgb(4, 0, 22);
}
table {
    color:rgb(25, 0, 167);
    background-color: rgba(162, 220, 243, 0.623)!Important;
}
